aiohttp==3.11.16
backports.tarfile==1.2.0
bitsandbytes==0.45.5
boto3==1.37.26
bottleneck==1.4.2
brotli==1.1.0
cartopy==0.24.1
conflator==0.1.7
crc32c==2.7.1
distributed==2025.3.0
docstring-parser==0.16
dotenv==0.9.9
exceptiongroup==1.2.2
flox==0.10.1
geodatasets==2024.8.0
geogif==0.3
h2==4.2.0
h5netcdf==1.6.1
inflect==7.3.1
ipykernel==6.29.5
isort==6.0.1
jaraco.collections==5.1.0
loguru==0.7.3
lxml==5.3.1
lz4==4.4.4
mplcyberpunk==0.7.6
natsort==8.4.0
nbformat==5.10.4
nc-time-axis==1.4.1
netcdf4==1.7.2
numbagg==0.9.0
opencv-python==4.11.0.86
opt-einsum==3.4.0
pickleshare==0.7.5
pysocks==1.7.1
pystac-client==0.8.6
pytorch-ignite==0.5.2
seaborn==0.13.2
sentinelsat==1.2.1
simsimd==6.2.1
sparse==0.16.0
stackstac==0.5.1
stringzilla==3.12.4
tensorboardx==2.6.2.2
terratorch==1.0.1
tomli==2.0.1
torcheval==0.0.7
typeshed-client==2.7.0
yaspin==3.1.0
zstandard==0.23.0
